﻿<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#!/dashboard">D<sup>ar</sup>iu<sup>s</sup></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#!/types">Typy</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>User: <a href="#!/user">{{$root.userInfo.login}}</a></li>
                <li>Version: {{$ctrl.backInfo.backendVersion}}</li>
            </ul>
        </div>
    </div>
</nav>




