﻿<div class="container col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
    <br />
    <div class="panel panel-primary" ng-if="!processing">
        <div class="panel-heading">
            <div class="panel-title">User Login</div>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-user" style="width: auto"></i>
                    </span>
                    <input type="text" class="form-control" ng-model="model.userName" id="inputUser" placeholder="Username" required />
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-lock" style="width: auto"></i>
                    </span>
                    <input type="password" ng-model="model.password" class="form-control" id="inputPassword" placeholder="Password" required />
                </div>
            </div>
            <button type="submit" ng-click="doLogin()" class="btn btn-success">Login <i class="glyphicon glyphicon-log-in"></i></button>
            <div ng-if="model.message!=''" class="alert alert-warning">
                <br />
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <p>{{model.message}}</p>
            </div>
        </div>
    </div>

    <div ng-if="processing">
        <div class='contain'>
            <svg height='80' width='210'>
                <ellipse cx='25' cy='20' fill='none' rx='10' ry='10'></ellipse>
            </svg>
            <svg height='80' width='210'>
                <ellipse cx='25' cy='20' fill='none' rx='10' ry='10'></ellipse>
            </svg>
            <svg height='80' width='210'>
                <ellipse cx='25' cy='20' fill='none' rx='10' ry='10'></ellipse>
            </svg>
            <svg height='80' width='210'>
                <ellipse cx='25' cy='20' fill='none' rx='10' ry='10'></ellipse>
            </svg>
            <svg height='80' width='210'>
                <ellipse cx='25' cy='20' fill='none' rx='10' ry='10'></ellipse>
            </svg>
            <svg height='80' width='210'>
                <ellipse cx='25' cy='20' fill='none' rx='10' ry='10'></ellipse>
            </svg>
            <svg height='80' width='210'>
                <ellipse cx='25' cy='20' fill='none' rx='10' ry='10'></ellipse>
            </svg>
            <svg height='80' width='210'>
                <ellipse cx='25' cy='20' fill='none' rx='10' ry='10'></ellipse>
            </svg>
            <svg height='80' width='210'>
                <ellipse cx='25' cy='20' fill='none' rx='10' ry='10'></ellipse>
            </svg>
            <svg height='80' width='210'>
                <ellipse cx='25' cy='20' fill='none' rx='10' ry='10'></ellipse>
            </svg>
        </div>
    </div>

</div>