﻿<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">User login</h4>
</div>
<div class="modal-body">
    <div class="form-group">
        <label for="inputUser" class="col-lg-2 control-label">Username</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" ng-model="model.userName" id="inputUser" placeholder="Username" required />
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword" class="col-lg-2 control-label">Password</label>
        <div class="col-lg-10">
            <input type="password" ng-model="model.password" class="form-control" id="inputPassword" placeholder="Password" required />
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="doLogin()">Do Login</button>
</div>